# Directories
vendor/
node_modules/
public/
.vscode/
.idea/
logs/
example_code/

# Files
composer.lock
.phpunit.result.cache
.env
*.log

# Development router (created by site:devserver command)
public/.ht.route.php
test-project/myFeatures/
oom/
templates/oom