# Directories to exclude from the composer package
/content export-ignore
/documents export-ignore
/originals export-ignore
/example_code export-ignore
/tests export-ignore
/scripts export-ignore
/.github export-ignore
/logs export-ignore
/public export-ignore
/migrations export-ignore

# Files to exclude
/.gitignore export-ignore
/phpunit.xml export-ignore
/phpstan.neon export-ignore
/debug_*.php export-ignore
/reproduce_issue.php export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/bin/release.php export-ignore
