<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title | default('Untitled') }}</title>
</head>
<body>
    <h1>{{ title | default('Untitled') }}</h1>
    <main>{{ content | raw }}</main>
</body>
</html>
