/*
 * StaticForge Main Stylesheet
 * 
 * Structure:
 * - base/: Variables, reset, typography
 * - layout/: Core layout structures (navbar, sidebar, content, footer)
 * - components/: Reusable UI components (cards, forms, etc.)
 * - utils/: Utility classes
 * 
 * Note: Page-specific styles (like docs.css) are loaded separately.
 */

@import 'base/variables.css';
@import 'base/reset.css';
@import 'base/typography.css';

@import 'layout/navbar.css';
@import 'layout/sidebar.css';
@import 'layout/content.css';
@import 'layout/footer.css';

@import 'components/cards.css';
@import 'components/forms.css';
@import 'components/alerts.css';
@import 'components/badges.css';
@import 'components/tables.css';
@import 'components/images.css';

@import 'utils/utilities.css';
@import 'layout/responsive.css';
